body {
    background: whitesmoke;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
p {
    text-align: left;
}
.bg-img-1 {
    height: 100%;
    width: 100%;
    background: url("../images/business-code-code.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-2 {
    min-height: 100%;
    width: 100%;
    background: url("../images/black-and-white-clouds-cold-1292677.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-3 {
    height: 100%;
    width: 100%;
    background: url("../images/abandoned-art-building-162379.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.caption {
    position: absolute;
    left: 0;
    top: calc(50vh - 135px);
    width: 100%;
    text-align: center;
}
.my-name-2 {
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
    /* position: fixed; */
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 120px;
}
.prof-pic {
    height: 280px;
    float: left;
    margin-right: 10px;
}
.about-me {
    min-height: 200px;
    margin: 20px 0 20px 0;
    /* background-image: linear-gradient(#201f1b, #133235); */
}
.about-me-text {
    margin: 20px 0;
    overflow: auto;
    /* background: rgba(255, 255, 255, .9) */
}
.liri {
    font-size: 10pt;
}
.proj-card {
    width: 200px;
}
.githubcard {
    width: 200px;
    background-color: rgba(0, 0, 0, .9);
}
.contact-me {
    background-color: black;
    color: lime;
    margin: 0;
}
.contact-head {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-me-text {
    margin: 15px 0 10px 0;
}
.contact-box {
    color: white;
    margin-bottom: 10px;
    /* height: 70%; */
    background-color: rgba(0, 0, 0, .9);
}
.inputs {
    margin-bottom: 25px;
}
.card {
    font-size: 9pt;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    }
}