body {
    background: whitesmoke;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}


.bg-img-1 {
    height: 100%;
    background: url("../images/business-code-code.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-2 {
    min-height: 100%;
    width: 100%;
    background: url("../images/black-and-white-clouds-cold-1292677.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-3 {
    height: 100%;
    width: 100%;
    background: url("../images/abandoned-art-building-162379.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
}
.my-name-2 {
    font-family: 'Satisfy', cursive;
    color: whitesmoke;
    /* position: fixed; */
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    display: none;
}
.about-me {
    min-height: 200px;
    margin: 10px 0 10px 0;
}
.contact-me {
    background-color: black;
    color: lime;
    margin: 0;
}

.contact-me-text {
    margin: 15px 0 10px 0;
}
#cursor {
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        justify-content: center;
    }
}